<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authority.dao.CommonModulesMapper" >
  <resultMap id="BaseResultMap" type="com.authority.pojo.CommonModules" >
    <id column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_URL" property="moduleUrl" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="LEAF" property="leaf" jdbcType="VARCHAR" />
    <result column="EXPANDED" property="expanded" jdbcType="VARCHAR" />
    <result column="DISPLAY_INDEX" property="displayIndex" jdbcType="VARCHAR" />
    <result column="IS_DISPLAY" property="isDisplay" jdbcType="VARCHAR" />
    <result column="ICON_CSS" property="iconCss" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      
      <if test="condition.moduleName != null" >
         <![CDATA[ and MODULE_NAME LIKE '%'+#{condition.moduleNameLike}+'%' ]]>
      </if>
      <if test="condition.moduleUrl != null" >
         and MODULE_URL = #{condition.moduleUrl}
      </if>
      <if test="condition.parentId != null" >
         and PARENT_ID = #{condition.parentId}
      </if>
      <if test="condition.leaf != null" >
         and LEAF = #{condition.leaf}
      </if>
      <if test="condition.expanded != null" >
         and EXPANDED = #{condition.expanded}
      </if>
      <if test="condition.displayIndex != null" >
         and DISPLAY_INDEX = #{condition.displayIndex}
      </if>
      <if test="condition.isDisplay != null" >
         and IS_DISPLAY = #{condition.isDisplay}
      </if>
      <if test="condition.iconCss != null" >
         and ICON_CSS = #{condition.iconCss}
      </if>

    </trim>
  </sql>
  <sql id="Base_Column_List" >
    MODULE_ID, MODULE_NAME, MODULE_URL, PARENT_ID, LEAF, EXPANDED, DISPLAY_INDEX, IS_DISPLAY, 
    ICON_CSS
  </sql>
    
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.authority.pojo.Criteria" >
    <include refid="common.Oracle_Pagination_Head" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    <if test="orderByClause != null" >
      ,ROW_NUMBER()OVER(order by ${orderByClause}) rownum 
    </if>
    <if test="orderByClause == null" >
      ,ROW_NUMBER()OVER(order by MODULE_ID) rownum 
    </if>
    <![CDATA[ from ${condition.table} ]]>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <include refid="common.Oracle_Pagination_Tail" />
  </select>
 
</mapper>