<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<!-- 
	<plugins>
		指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,
		PostgreSQLDialect,MySQLDialect,DerbyDialect,HSQLDialect
		<plugin interceptor="com.chenxin.authority.common.mybatis.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.chenxin.authority.common.mybatis.dialect.OracleDialect"/>
		</plugin>
	</plugins>
		-->
	<mappers>
		<mapper resource="config/sqlmap/common_SqlMap.xml" />
		<mapper resource="config/sqlmap/BaseModulesMapper.xml" />
		<mapper resource="config/sqlmap/BaseRoleModuleMapper.xml" />
		<mapper resource="config/sqlmap/BaseRolesMapper.xml" />
		<mapper resource="config/sqlmap/BaseUserRoleMapper.xml" />
		<mapper resource="config/sqlmap/BaseUsersMapper.xml" />
		<mapper resource="config/sqlmap/BaseFieldsMapper.xml" />
		<mapper resource="config/sqlmap/WebMessageMapper.xml" />
		<mapper resource="config/sqlmap/CommonModulesMapper.xml" />
		<mapper resource="config/sqlmap/WebQudviewMapper.xml" />
	</mappers>
</configuration>